
<table class="table table-hover sound-table">
    <% notifications.each do |notification| %>
        <tbody>
            <td><%= link_to user_path(notification.visitor) do %>
                <% end %>
            </td>

            <td><strong><%= notification.visitor.name %></strong>さんが
            <% case notification.action %>
            <% when 'follow' then %>
                <%= 'あなたをフォローしました'%>
            <% when 'like' then %>
                <% if notification.sound_id != nil %>
                    <%= link_to 'あなたの投稿', notification.sound, style: "font-weight: bold;"%>
                    <%= 'をお気に入りにしました' %>
                <% elsif notification.video_id != nil %>
                    <%= link_to 'あなたの投稿', notification.video, style: "font-weight: bold;"%>
                    <%= 'をお気に入りにしました' %>
                <% elsif notification.stage_id != nil %>
                    <%= link_to 'あなたの投稿', notification.stage, style: "font-weight: bold;"%>
                    <%= 'をお気に入りにしました' %>
                <% end %>
            <% end %>
            </td>

            <td><strong><%= " (#{time_ago_in_words(notification.created_at)}前)" %></strong></td>
        <% end %>
    </tbody>
</table>
