<table class="table table-table-hover sound-table">
	<% unless user_signed_in? %>
		<thead>
			<tr>
				<th>User</th>
				<th>Title</th>
				<th>Video</th>
			</tr>
		</thead>

		<tbody>
			<% videos.each do |video|%>
				<tr class = "index-list">
					<td><%= link_to video.user.name, user_path(video.user), class: 'index-text' %></td>
					<td class= 'index-text'>
							<%= video.title %></td>
					<td class= 'index-video-tag' ><%= video_tag video.file,  style: "width:65%;", :loop => true, :controls => true ,:muted => true ,:controlsList => "nodownload" %></td>
				</tr>
			<% end %>
		</tbody>

	<% else %>

		<thead>
			<tr>
				<th>User</th>
				<th></th>
				<th>Title</th>
				<th>Video</th>
			</tr>
		</thead>

		<tbody>
			<% videos.each do |video|%>
				<tr class = "index-list">
					<td><%= link_to video.user.name, user_path(video.user), class: 'index-text' %></td>
					<td class= 'index-text'>
					<td><%= link_to video.title, video_path(video),data: {"turbolinks" => false}  , class: 'index-text' %></td>
					<td><%= link_to video_path(video) do %><%= attachment_image_tag video, :image, :fill, 200, 200, format: 'jpeg', fallback:"logo.jpeg", class: 'index-video-tag' %></td>
							<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>

