<main class="video-main">
	<% if flash[:succses] %>
		<p class="index-text-sound"><%= flash[:up_data] %></p>
	<% end %>

	<h1>Videos</h1>
		<div class="search-form">
			<%= render 'search' %>
			<% if user_signed_in? %>
			<%= link_to '投稿', new_video_path, class: 'btn btn-info search-btn', data: {"turbolinks" => false} %>
			<% end %>
		</div>
		<div class="alert alert-secondary" role="alert">
			<% @videos.each do |video| %>
				<span class= 'index-text'><%= render_video_hashtags(video.hashbody) %></span>
			<% end %>
		</div>

	<div class="video-list">
		<div class="sound-write">
			<%= render 'index' , videos: @videos %>
			<%= paginate @videos %>
		</div>
	</div>
</main>

<script>
$( 'turbolinks:load', function() {
	$( '#suggest' ).autocomplete({
	autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
	source: <%= @video_suggest %>,//サジェストのデータを呼び出す
	minLength: 1  //オートコンプリートが動作する文字数を指定
	});
});
</script>
