<main class="video-main">
<h1>Video NewPost</h1>
<a><%= link_to '戻る', videos_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>
	<div class="video-list">
		<main class="sound-main">
			<div class="sound-write">
				<%= form_for @video do |f| %>
					<%= f.label :動画 %>
					<i class="fas fa-video"></i>
					<%= f.file_field :file, :accept => 'video/*' %><br />
					<%= f.label :サムネイル %>
					<i class="fas fa-image"></i>
					<%= f.attachment_field :image %>
					<br />
					<%= f.label :タイトル %>
					<%= f.text_field :title %>
					<%= f.label :Genre %>
					<%= f.text_field :genre %><br />
					<%= f.label :Hashtag %>
					<%= f.text_field :hashbody, placeholder: "#mood..cute..etc" %>
					<%= f.label :Detail %>
					<%= f.text_area :detail %><br />
					<%= f.submit "アップロード", class: 'btn btn-outline-info'%><br />
				<% end %>
				<p><%= link_to 'VideoTop', stages_path, class: 'btn btn-info', style: "text-alian:center;" %></p>
			</div>
		</div>
	</div>
</main>
