<main class="video-main">
<h1>Video NewPost</h1>
<a><%= link_to '戻る', videos_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>
	<div class="video-list">
		<main class="sound-main">
			<div class="sound-write">
				<%= form_for @video do |f| %>
					<%= f.label :Title %>
					<%= f.file_field :file, :accept => 'video/*' %>
					<%= f.text_field :title, class: 'video-source' %><br />
					<%= f.label :Genre %>
					<%= f.text_field :genre, class: 'video-source' %><br />
					<%= f.label :Hashtag %>
					<%= f.text_field :hashbody, class: 'video-source', placeholder: "#・・"%><br />
					<%= f.label :Detail %>
					<%= f.text_field :detail, class: 'video-source'%><br />
					<%= f.submit "アップロード", class: 'btn btn-outline-info'%><br />
				<% end %>
				<p><%= link_to 'VideoTop', stages_path, class: 'btn btn-info', style: "text-alian:center;" %></p>
			</div>
		</div>
	</div>
</main>


	</div>
