<main class="video-main">
	<h1>Video</h1>
	<% if @video.user_id == current_user.id %>
		<a><%= link_to '編集', edit_video_path, class: 'btn btn-info newpost_buttom', data: {"turbolinks" => false} %></a>
	<% end %>
		<a><%= link_to '戻る', videos_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>
	<div class="video-list">
		<div class="sound-write">
			<span class= 'index-text'>
			<%= render_video_hashtags(@video.hashbody) %></span>
			<%= render 'videos/video_favorite', video: @video, user: current_user %>

				<div class="alert alert-success" role="alert">
				<strong>組み合わせたいSoundをアップしよう！</strong>

				<div class = "sound-source">
					<%= render 'videos/sound_source_form', sound_source: @sound_source %>
				</div>

				<div class="sound-source-play">
					<%= render 'videos/sound_source', sound_sources: @sound_sources %>
					<p id= "btn-play" type= "button"><i class="far fa-play-circle">ポチッとMIX</i></p>
				</div>

			<p><%= link_to 'Tweet',"https://twitter.com/share?ref_src=twsrc%5Etfw", class:"twitter-share-button" , :data_show_count => "false"%></p>
		</div>
	</div>
</main>



<script>
//クリックされた曲をロードして再生

	const bgm1 = document.querySelector("#bgm1");       // <audio>
	const bgm2 = document.querySelector("#video-show");       // <video>
	const btn  = document.querySelector("#btn-play");   // <button>

	btn.addEventListener("click", ()=>{
// pausedがtrue=>停止, false=>再生中
	if( ! bgm1.paused ){
		btn.innerHTML = '<i class="fas fa-play"></i>';  // 「再生ボタン」に切り替え
		bgm1.pause();
		bgm2.pause();
	}
	else{
		btn.innerHTML = '<i class="fas fa-pause"></i>';  // 「一時停止ボタン」に切り替え
		bgm1.play();
		bgm2.play();
		}
		});
/**
* [event] 再生終了時に実行
*/
		bgm1.addEventListener("ended", ()=>{
		  bgm1.currentTime = 0;  // 再生位置を先頭に移動
		  btn.innerHTML = '<i class="fas fa-play"></i>';  // 「再生ボタン」に変更
		});
</script>


