
<%= render 'layouts/error_messages', model: stage %>

<%= form_for stage do |f| %>
	<%= f.label :＊Video %><i class="fas fa-video"></i>
	<%= f.file_field :file, :accept => 'video/*' %><br />
		<p class= 'index-text-sound'>＊MP4対応: 制限100mb以下</p>
	<%= f.label :サムネイル %>
		<i class="fas fa-image"></i>
	<%= f.attachment_field :image %><br />
	<%= f.label :タイトル %>
	<%= f.text_field :title %>
	<%= f.label :Genre %>
	<%= f.select :genre, [["Ambient","Ambient"],["Classical","classical"],["EDM","EDM"],["Disco","Disco"],["Drum & Bass","Drum & Bass"],["Electronic","Electronic"],["Hip-Hop & R&B","Hip-Hop & R&B"],["House","House"],["Jazz & Blues","Jazz & Blues"],["Rock","Rock"],["Techno","Techno"],["Trance","Trance"],["Dubstep","Dubstep"],["Other","Other"]] %><br />
	<%= f.label :ハッシュタグ %><span><%= f.text_field :hashbody, placeholder: "#mood..#cute..etc" %></span>
	<p class= 'index-text-sound'>「#」つけてね！</p>
	<%= f.label :Detail %>
	<%= f.text_area :detail %><br />
	<%= f.submit "アップロード", class: 'btn btn-outline-info'%><br />
<% end %>