<%= form_for stage do |f| %>
	<%= f.label :Video %>
		<p class= 'index-text'>※制限120mb以下</p>
		<i class="fas fa-video"></i>
	<%= f.file_field :file, :accept => 'video/*' %><br />
	<%= f.label :サムネイル %>
		<i class="fas fa-image"></i>
	<%= f.attachment_field :image %><br />
	<%= f.label :タイトル %>
	<%= f.text_field :title %><br />
	<%= f.label :ジャンル %>
	<%= f.select :genre, [["Ambient","Ambient"],["Classical","classical"],["EDM","EDM"],["Disco","Disco"],["Drum & Bass","Drum & Bass"],["Electronic","Electronic"],["Hip-Hop & R&B","Hip-Hop & R&B"],["House","House"],["Jazz & Blues","Jazz & Blues"],["Rock","Rock"],["Techno","Techno"],["Trance","Trance"],["Dubstep","Dubstep"],["Other","Other"]] %><br />
	<%= f.label :ハッシュタグ %>
	<p class= 'index-text'>[#]つけてね！</p>
	<%= f.text_field :hashbody, placeholder: "#mood..cute..etc" %>
	<%= f.label :Detail %>
	<%= f.text_area :detail %><br />
	<%= f.submit "アップロード", class: 'btn btn-outline-info'%><br />
<% end %>