<table class="table table-borderless sound-table">
	<% unless user_signed_in? %>
		<thead>
			<tr>
				<th>User</th>
				<th>Title</th>
				<th>Video</th>
			</tr>
		</thead>

		<tbody>
			<% stages.each do |stage|%>
				<tr class = "index-list">
					<td><%= link_to stage.user.name, user_path(stage.user),class: 'index-text' %></td>
					<td class= 'index-text'>
							<%= stage.title %></td>
						<td><%= video_tag stage.file,  style: "width:65%;", :loop => true ,:controls => true %></td>
				</tr>
			<% end %>
		</tbody>

	<% else %>

		<thead>
			<tr>
				<th>User</th>
				<th></th>
				<th>Title</th>
				<th>Video</th>
			</tr>
		</thead>

		<tbody>
			<% stages.each do |stage|%>
				<tr class = "index-list">
					<td><%= link_to stage.user.name, user_path(stage.user),class: 'index-text' %></td>
					<td class= 'index-text' >
						<td><%= link_to stage.title, stage_path(stage),data: {"turbolinks" => false}  , class: 'index-text' %></td>
						<td><%= link_to stage_path(stage) do %><%= attachment_image_tag stage, :image, :fill, 200, 200, format: 'jpeg', fallback:"logo.jpeg" %></td>
							<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	<% end %>
</table>

