<th scope="col">User</th>
<th scope="col">Title</th>
<th scope="col">Mood</th>
	</thead>
	<tbody>
		<tr>
			<td><%= stage.user.name %></td>
			<td><%= stage.title %></td>
			<td><%= stage.mood %></td>
			<td><% if stage.favorited_by?(current_user) %>
					<%= link_to stage_favorites_path(stage), method: :delete, remote: true do %>
					<i class="far fa-star" aria-hidden="true"></i>
					<% end %>
				<% else %>
					<%= link_to stage_favorites_path(stage), method: :post, remote: true do %>
					<i class="fas fa-star" aria-hidden="true" style="color: blue;" ></i>
					<% end %>
				<% end %>
			</td>