<table class="table table-borderless sound-table">
	<thead>
		<tr>
			<th>User</th>
			<th>Title</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= link_to stage.user.name, user_path(stage.user),class: 'index-text' %></td>
			<td class= 'index-text'><%= stage.title %></td>
			<td></td>

			<!-- お気に入り機能 -->
			<% unless stage.user.id == current_user.id %>
				<td><div id= "stage_<%= @stage.id %>">
					<%= render 'favorites/stage_favorite', stage: @stage %></div>
				</td>
				<!-- お気に入り機能 -->
			<% else %>
				<td>
					<%= link_to stage_path(stage), method: :delete , data: {confirm: "削除しますか？"},class: 'btn btn-outline-info', data: {"turbolinks" => false} do %>
					<i class="fas fa-trash"></i>
					<% end %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>

	<p><%= video_tag @stage.file,  class: "stage-show", :controls => true %></p>