<div class="row">
        <% if params[:name] == nil %>

        <% else %>
        <div class= "col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <div class="hashtag-post-box">
                <h3 class="search-title">#<%= @hashtag.hashtag_word %>:  <%= @stages.count %> 件 </h3>
                <div class="flex-box">
                <% @stages.each do |stage| %>
                            <%= stage.created_at.strftime("%Y/%m/%d") %>
                        </p>
                        <%= link_to stage_path(stage),data: {"turbolinks" => false} %>
                        <p class="hashtag-post-box-name">
                            <%= link_to user_path(stage.user)%>
                        </p>
                        <div class="image-show-body-hash" style="padding:2%">
                            <%= simple_format(stage.hashbody.truncate(50))%>
                            <% if stage.hashbody.length > 50 %>
                                <span class="text-prev"><%= link_to '続きを読む', stage_path(stage), data: {"turbolinks" => false} %>
                                </span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
            <div class="image-index-pagination" data-turbolinks="false">
                <%= paginate @stages %>
            </div>
        </div>
        <% end %>
    </div>
    <div class="row">
        <div class= "col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <div class= "hashtag-name">
                <% @hashtags.sort.reverse.each do |count| %>
                        <% count[1].each do |hashtag| %>
                        <p><%= link_to  "##{hashtag.hashtag_word} (#{hashtag.stages.count}) 件","/stage/hashtag/#{hashtag.hashtag_word}",data: {"turbolinks" => false} %>
                        </p>
                        <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>