<main class="stage-main">
	<% if flash[:up_data] %>
		<p class="index-text-sound"><%= flash[:up_data] %></p>
	<% end %>

	<h1>Stages</h1>
		<div class="search-form">
			<%= render 'search' %>
			<% if user_signed_in? %>
				<%= link_to '投稿', new_stage_path, class: 'btn btn-info',data: {"turbolinks" => false}, style: "text-alian:center;" %>
			<% end %>
		</div>
		<div class="alert alert-secondary" role="alert">
			<% @stages.each do |stage| %>
				<span class="index-text"><%= render_stage_hashtags(stage.hashbody) %></span>
			<% end %>
		</div>

		<div class="stage-list">
		</style>
			<div class="sound-write">
				<%= render 'index', stages: @stages %>
				<%= paginate @stages %>
			</div>
		</div>
	</main>

	<script>
	$( function() {
		$( '#suggest' ).autocomplete({
		autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
		source: <%= @stage_suggest %>,//サジェストのデータを呼び出す
		minLength: 1  //オートコンプリートが動作する文字数を指定
		});
	});
	</script>
