<main class="stage-main">
	<% if flash[:notice] %>
    <p class="text-guest"><%= flash[:notice] %></p>
    <% end %>
<h1>Stages </h1>
	<%= render 'layouts/search' %>
	<% @hashtags.each do |hashtag| %>
	#<%= hashtag.hashtag_word %>
	<% end %>
		<a><%= link_to '投稿', new_stage_path, class: 'btn btn-info newpost_buttom', style: "text-alian:center;" %></a>
		<div class="stage-list">
			<div class="sound-write">
				<table class="table table-borderless sound-table">
					<thead>
						<tr>
							<th scope="col">User</th>
							<th scope="col">Title</th>
							<th scope="col">Mood</th>
						</tr>
					</thead>
					<tbody>
						<%= render 'index', stages: @stages %>
						</tbody>
				</table>
			</div>
		</div>
	</main>
		</div>

<script>
	$( function() {
  $( '#suggest' ).autocomplete({
    autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
    source: <%= @total_suggest %>,//サジェストのデータを呼び出す
    minLength: 1  //オートコンプリートが動作する文字数を指定
  });
});
</script>
