<main class="stage-main">
<h1>Stages </h1>
		<a><%= link_to '投稿', new_stage_path, class: 'btn btn-info newpost_buttom', style: "text-alian:center;" %></a>
		<div class="stage-list">
			<div class="sound-write">
				<table class="table table-borderless sound-table">
					<thead>
						<tr>
							<th scope="col">User</th>
							<th scope="col">Title</th>
							<th scope="col">Mood</th>
						</tr>
					</thead>
					<tbody>
						<% @stages.each do |stage|%>
						<tr>
							<td><%= stage.user.name %></td>
							<td><%= link_to stage.title, stage_path(stage) %></td>
							<td><%= stage.mood %></td>
							<td><%= video_tag stage.file,  class:"stage-sample", :controls => true %></td>
						</tr>
						<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</main>
		</div>
