<main class="stage-main">
	<% if flash[:notice] %>
		<p class="text-guest"><%= flash[:notice] %></p>
	<% end %>

	<h1>Stages</h1>
	<div class="alert alert-secondary" role="alert">
		<div class="search-form">
			<%= render 'search' %>
			<%= link_to '投稿', new_stage_path, class: 'btn btn-info',data: {"turbolinks" => false}, style: "text-alian:center;" %>
		</div>
		<% @stages.each do |stage| %>
			<p><%= render_stage_hashtags(stage.hashbody) %></p>
		<% end %>
	</div>

	<div class="stage-list", style="margin-top: 10%;">
		
	</style>>
		<div class="sound-write">
			<%= render 'index', stages: @stages %>
		</div>
	</div>
</main>

<script>
$( function() {
	$( '#suggest' ).autocomplete({
	autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
	source: <%= @stage_suggest %>,//サジェストのデータを呼び出す
	minLength: 1  //オートコンプリートが動作する文字数を指定
	});
});
</script>
