<table class="table table-hover sound-table">
	<thead>
		<tr>
			<th scope="col">User</th>
			<th scope="col">Title</th>
			<th scope="col">BPM</th>
			<th scope="col">Genre</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<% sounds.each do |sound|%>
			<tr>
				<td><%= link_to sound.user.name, user_path(sound.user),class: 'index-text-sound' %></td>
				<td class:='index-text-sound'>
					<% if user_signed_in? %>
						<%= link_to sound.title, sound_path(sound),data: {"turbolinks" => false}%>
					<% else %>
						<%= sound.title %>
					<% end %>
				</td>
				<td class= 'index-text-sound'><%= sound.bpm %></td>
				<td class= 'index-text-sound'><%= sound.genre %></td>
				<td class= 'index-audio-tag'> <%= audio_tag asset_path sound.file %></td>
			</tr>
		<% end %>
	</tbody>
</table>