<table class="table table-borderless sound-table">
	<thead>
		<tr>
			<th>User</th>
			<th>Title</th>
			<th>BPM</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= link_to sound.user.name, user_path(sound.user), class: 'index-text-sound' %></td>
			<td class= 'index-text-sound'><%= sound.title %></td>
			<td class= 'index-text-sound'><%= sound.bpm %></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th></th>
			<th>Genre</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td></td>
			<td class= 'index-text-sound'><%= sound.genre %></td>
			<td><%= audio_tag sound.file, id: 'sound_show' %></td>
			<!-- お気に入り機能 -->
			<% unless sound.user.id == current_user.id %>
				<td><div id= "sound_<%= @sound.id %>">
				<%= render 'favorites/sound_favorite', sound: sound %></div></td>
			<!-- お気に入り機能 -->
			<% else %>
			<td><%= link_to sound_path(sound), method: :delete , data: {confirm: "削除しますか？"},class: 'btn btn-outline-info', data: {"turbolinks" => false} do %>
					<i class="fas fa-trash"></i>
				<% end %>
			</td>
			<% end %>
		</tr>
	</tbody>
</table>
