<main class="sound-main">
	<% if flash[:success] %>
		<p class="index-text-sound"><%= flash[:success].html_safe %></p>
	<% end %>

	<h1>Sounds</h1>
		<div class="search-form">
			<%= render 'search' %>
			<% if user_signed_in? %>
				<%= link_to '投稿', new_sound_path, class: 'btn btn-info ', data: {"turbolinks" => false} %>
			<% end %>
		</div>
		<div class="alert alert-secondary" role="alert">
			<% @sounds.each do |sound| %>
				<span class="index-text"><%= render_sound_hashtags(sound.hashbody) %></span>
			<% end %>
		</div>

		<div class="sound-back">
			<div class="sound-write">
				<%= render 'index', sounds: @sounds %>
				<%= paginate @sounds %>
			</div>
		</div>
	</main>

	<script>
	$( 'turbolinks:load', function() {
		$( '#suggest' ).autocomplete({
		autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
		source: <%= @sound_suggest %>,//サジェストのデータを呼び出す
		minLength: 1  //オートコンプリートが動作する文字数を指定
		});
	});
	</script>


