<main class="sound-main">
	<% if flash[:notice] %>
    <p class="text-guest"><%= flash[:notice] %></p>
    <% end %>
<h1>Sounds</h1>
	<%= render 'search' %>
	<% @sounds.each do |sound| %>
	<%= link_to "#{sound.hashbody}",sounds_hashtag_name_path(sound) %>
	<% end %>
		<a><%= link_to '投稿', new_sound_path, class: 'btn btn-info newpost_buttom', data: {"turbolinks" => false} %></a>
		<div class="sound-back">
			<div class="sound-write">
				<table class="table table-borderless sound-table">
					<thead>
						<tr>
							<th scope="col">User :</th>
							<th scope="col">Title : </th>
							<th scope="col">BPM : </th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<%= render 'index', sounds: @sounds %>
					</tbody>
				</table>
			</div>


<script>
	$( function() {
  $( '#suggest' ).autocomplete({
    autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
    source: <%= @sound_suggest %>,//サジェストのデータを呼び出す
    minLength: 1  //オートコンプリートが動作する文字数を指定
  });
});
</script>