<main class="sound-main">
	<% if flash[:notice] %>
		<p class="text-guest"><%= flash[:notice] %></p>
	<% end %>

	<h1>Sounds</h1>
	<div class="alert alert-secondary" role="alert">
		<div class="search-form">
			<%= render 'search' %>
			<%= link_to '投稿', new_sound_path, class: 'btn btn-info ', data: {"turbolinks" => false} %>
		</div>
		<% @sounds.each do |sound| %>
			<p><%= render_sound_hashtags(sound.hashbody) %></p>
		<% end %>
	</div>
		<div class="sound-back">
			<div class="sound-write">
				<%= render 'index', sounds: @sounds %>
			</div>
		</div>
</main>

<script>
	$( function() {
  $( '#suggest' ).autocomplete({
    autoFocus: true, //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
    source: <%= @sound_suggest %>,//サジェストのデータを呼び出す
    minLength: 1  //オートコンプリートが動作する文字数を指定
  });
});
</script>

