<main class="sound-main">
	<h1>Sound</h1>
	<a><%= link_to '編集', edit_sound_path, class: 'btn btn-info newpost_buttom', data: {"turbolinks" => false} %></a>
	<a><%= link_to '戻る', sounds_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>

	<div class="sound-back">
		<div class="sound-write">

			<%= render_sound_hashtags(@sound.hashbody) %>
			<%= render 'sound_favorite', sound: @sound, user: current_user %>

			<div class="alert alert-info" role="alert">
			<strong>組み合わせたいVideoをアップしよう！</strong>

			<div class = "video-source">
				<%= render 'video_source_form', sound: @sound, video_source: @video_source %>
			</div>

			<div class="video-source-play">
				<%= render 'video_source', sound: @sound,video_sources: @video_sources %>
				<button id= "sound_btn_play" type= "button"><i class="fas fa-play"></i></button>
			</div>

				<p><%= link_to 'Tweet',"https://twitter.com/share?ref_src=twsrc%5Etfw", class:"twitter-share-button" , :data_show_count => "false"%></p>
			</div>
		</div>
	</div>
</main>




<script>
//同時再生ボタン//
	const video_source = document.querySelector("#video_source");       // <audio>
	const sound_show = document.querySelector("#sound_show");       // <video>
	const sound_btn  = document.querySelector("#sound_btn_play");   // <button>

	sound_btn.addEventListener("click", ()=>{
	// pausedがtrue=>停止, false=>再生中
	if( ! video_source.paused ){
		  sound_btn.innerHTML = '<i class="fas fa-play"></i>';  // 「再生ボタン」に切り替え
		  video_source.pause();
		  sound_show.pause();
		}
		else{
		  sound_btn.innerHTML = '<i class="fas fa-pause"></i>';  // 「一時停止ボタン」に切り替え
		  video_source.play();
		  sound_show.play();
		}
		});
	/**
	* [event] 再生終了時に実行
	*/
		video_source.addEventListener("ended", ()=>{
		  video_source.currentTime = 0;  // 再生位置を先頭に移動
		  sound_btn.innerHTML = '<i class="fas fa-play"></i>';  // 「再生ボタン」に変更
		});
</script>

