<main class="sound-main">
<h1>Sound</h1>
<a><%= link_to '編集', edit_sound_path, class: 'btn btn-info newpost_buttom', data: {"turbolinks" => false} %></a>
<a><%= link_to 'Back', sounds_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>
	<div class="sound-back">
		<div class="sound-write">
			<table class="table table-borderless sound-table">
				<thead>
					<tr>
						<th scope="col">User</th>
						<th scope="col">Title</th>
						<th scope="col">BPM</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @sound.user.name %></td>
						<td><%= @sound.title %></td>
						<td><%= @sound.bpm %></td>
						<td><%= audio_tag @sound.file %></td>
						<td><% if @sound.favorited_by?(current_user) %>
								<%= link_to sound_favorites_path(@sound), method: :delete do %>
								<i class="far fa-star" aria-hidden="true" style="color: blue;"></i>
								<%= @sound.favorites.count %>
								<% end %>
							<% else %>
								<%= link_to sound_favorites_path(@sound), method: :post do %>
								<i class="fas fa-star" aria-hidden="true"></i>
    							<%= @sound.favorites.count %>
								<% end %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
			 <p><%= video_tag @video.file,  class:"video-sample", :controls => true %></p>
		</div>
	</div>
</main>
